@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');
*{
    font-family: 'Noto Sans KR', sans-serif;
}
.nav-item{
    margin-right: 10px;
}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
}

#main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 80%;
    height: 500px;
}

.card-body{
    text-align: center;
}