@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap');
*{
    font-family: 'Noto Sans KR', sans-serif;
}
.nav-item{
    margin-right: 10px;
}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
}

.foot{
    margin-top: 40px;
    background-color: snow;
}

#footer-text{
    text-align: center;
    color: gray;
    padding: 30px;
    font-size: 0.8rem;
}

.footer-btn{
    width: 3%;
    background-color: snow;
    border: 0;
}

.img{
    width: 20px;
    object-fit: cover;
    margin-right: 5px;
}

.form{
    display: block;
    margin: 30px auto;
    width: 80%;
}

.tab-content{
    margin-top: 30px;
}

.wrap{
    display: block;
    margin: 35px auto;
    width: 80%;
}
#fat{
    margin-top: 30px;
}
.language-r{
    background-color: black;
    color: snow;
    padding: 10px;
}